#sidebar-container {
    position: absolute;
    left: 0;
    width: 280px;
    height: 100vh;
    background-color: #e9e9e9;
}

.sidebar-btn {
    width: 100%;
    background-color: #e9e9e9;
    border: 0;
}

.sidebar-active-btn {
    background-color: rgb(223, 91, 91);
    color: white;
    border-radius: 0px;
}